APP_ENV=local
HTTP_PORT=8080

MONGO_URI=mongodb://root:root_password@localhost:27017/?authSource=admin
MONGO_DATABASE=my_api

JWT_SECRET=replace-with-a-strong-secret
JWT_ISSUER=my-api
JWT_ACCESS_TTL=15m